Creación de una BBDD y tablas en Python

In [16]:
# Como le hemos dado a correr otra vez y sale todo como error de que ya existe pero porque las hemos creado antes sin errores. Hemos vuelto a crear otra base de datos llamada "nuestra_primerita_BBDD_PYTHON" y crear las tablas dentro 
# para comprobar que efectivamente todo estaba en orden.

In [17]:
import mysql.connector

In [18]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


cursor = cnx.cursor()

try:
    cursor.execute("CREATE DATABASE nuestra_primerita_BBDD_PYTHON")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

cnx.close()
cursor.close()

True

Creamos una función para crear tablas

In [31]:
def creacion_de_tablas(contraseña, query):
    
    cnx = mysql.connector.connect( user='root', password=contraseña,
                                host='127.0.0.1',
                                database='nuestra_primerita_BBDD_PYTHON')

    cursor = cnx.cursor()
    try:
        cursor.execute(query)
        return print(cursor)

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

cnx.close()
cursor.close()

In [32]:
tabla_zapatillas = """CREATE TABLE Tabla_Zapatillas (id_Zapatillas INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
                                                    Modelo VARCHAR(45) NOT NULL,
                                                    Color VARCHAR(45) NOT NULL,
                                                    Talla INT NOT NULL)"""

In [33]:
creacion_de_tablas('AlumnaAdalab', tabla_zapatillas)

CMySQLCursor: CREATE TABLE Tabla_Zapatillas (id_Zapati..

In [34]:
tabla_clientes =  """CREATE TABLE Tabla_Clientes (id_Empleado INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
                                                    Nombre VARCHAR(45) NOT NULL,
                                                    Numero_Telefono INT(9) NOT NULL,
                                                    Email VARCHAR(45) NOT NULL,
                                                    Direccion VARCHAR(45) NOT NULL,
                                                    Ciudad VARCHAR(45),
                                                    Pais VARCHAR(45) NOT NULL,
                                                    Codigo_postal INT(9) NOT NULL)"""

# Después de crear la tabla nos damos cuenta de que por erratas hemos puesto id_empleado como nombre de columna en vez de id_Cliente. Más adelante hacemos un AlTER TABLE para arreglar esto.

In [35]:
creacion_de_tablas('AlumnaAdalab', tabla_clientes)

CMySQLCursor: CREATE TABLE Tabla_Clientes (id_Empleado..

In [36]:
tabla_empleados =  """CREATE TABLE Tabla_Empleados (id_Empleado INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
                                                    Nombre VARCHAR(45) NOT NULL,
                                                    Tienda VARCHAR(45) NOT NULL,
                                                    Salario FLOAT,
                                                    Fecha_incorporacion DATE)"""

In [37]:
creacion_de_tablas('AlumnaAdalab', tabla_empleados)

CMySQLCursor: CREATE TABLE Tabla_Empleados (id_Emplead..

Creamos un Alter table para cambiar el error de la column id_Cliente

In [38]:
alter_table_id = "ALTER TABLE Tabla_Clientes RENAME COLUMN id_Empleado to id_Cliente"

In [39]:
creacion_de_tablas('AlumnaAdalab', alter_table_id)

CMySQLCursor: ALTER TABLE Tabla_Clientes RENAME COLUMN..

In [41]:
tabla_facturas =  """CREATE TABLE Tabla_Facturas (id_Factura INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
                                                    id_Empleado INT NOT NULL,
                                                    id_Cliente INT NOT NULL,
                                                    id_Zapatillas INT NOT NULL,
                                                    Fecha DATE NOT NULL,
                                                    Total FLOAT NOT NULL,
                                                    CONSTRAINT
                                                    FOREIGN KEY (id_zapatillas)
		                                            REFERENCES Tabla_Zapatillas (id_zapatillas)
			                                        ON DELETE CASCADE
                                                    ON UPDATE CASCADE ,
                                                    CONSTRAINT 
                                                    FOREIGN KEY (id_cliente)
                                                    REFERENCES Tabla_Clientes (id_cliente)
                                                    ON DELETE CASCADE
                                                    ON UPDATE CASCADE ,
                                                    CONSTRAINT 
                                                    FOREIGN KEY (id_empleado)
                                                    REFERENCES Tabla_Empleados (id_empleado)
                                                    ON DELETE CASCADE
                                                    ON UPDATE CASCADE)"""

In [42]:
creacion_de_tablas('AlumnaAdalab', tabla_facturas)

CMySQLCursor: CREATE TABLE Tabla_Facturas (id_Factura ..